.map-wrapper{
    width: 100%;
    height: 60vh;
}
/* 
.map-wrapper div.map {
    position: absolute;
    width: 100%;
    height: 50vh;
} */



/* @media only screen and (max-width: 425px) {
    div.map {
        position: absolute;
        width: 100%;
        height: 40vh;
    }
} */